:focus {
    outline: none;
}


body:focus {
    background-color: gray;
}


body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Balsamiq Sans', 'ursive';
    font-family: 'Cairo', sans-serif;
}

::selection {
    background: gray;
}

img {
    width: 540px;
    height: 380px;
}



